@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj miło Cię widzieć</h1>
    <p>Na stronie z rezerwacja Hoteli mój drogi użytkowniku mam nadzieje że spełnimy twoje oczekiwania</p>
</div>
